#gamearea {
    height: 600px;
    width: 600px;
    background-color: white;
    border: 20px outset white;
    position: relative;
}
body {
    background-image: url("rimage_shop_preview.png");
}
h1 {
    text-align: center;
    background-color: white;
    text-shadow: 1px 1px grey;
    margin-left: 400px;
    margin-right: 450px;
}
p {
    text-shadow: 1px 1px grey;
    font-size: 20pt   
}
#white, .links{
    font-size: 20px;
    background-color:  white;
    text-align: center;
} 
form {
    text-shadow: 1px 1px grey;
    padding-left: 7px;
    padding-bottom: 5px;
}
ol {
    background-color: white;
    font-size: 15pt;
    
}
.links {
    text-align: center   
}
#reviews {
    background-color: black;
    padding-left: 10px;
    color: white
}
.lines {
    text-shadow: 0px 0px;
    font-size: 12pt
}
#mid {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.box {
    border: 1px dashed black;
}
#text{
    text-align: center;
    font-size: 40px;
    font-weight: bold;
}
.block {
    border: 10px solid black;
    height: 180px;
    width: 180px;
    display: inline-block;
    font-size: 100pt;
    vertical-align: middle;
    text-align: center;
}